* {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    max-width: 1830px;
    padding: 0 80px 0 80px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    font-style: normal;
    font-size: 96px;
    margin: 0px;
    margin-bottom: 24px;
    line-height: 100px;
}

p {
    font-size: 18px;
    font-weight: 500;
    color: #8D8D8D;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0;
}

.master-wraper {
    display: flex;
    align-items: center;
}

.main__content {
    max-width: 1670px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}   

#buttons {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 24px;
}

a {
    text-decoration: none;
}

.buttons {
    padding: 0px;
}

.main {
    list-style-type: none;
}

.img__1 {
    max-width: 20vmax;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
}

li {
    margin-bottom: 80px;
    flex-shrink: 1;
}

span {
    display: flex;
    color: black;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
    margin-top: 24px;
}

.footer {
    margin-top: 60px;
    display: flex;
    height: 337px;
    flex-direction: column;
}

#buttons__footer {
    margin-right: 24px;
    margin-top: 50px;
}

.logo {
    padding-top: 60px;
    margin: 0px;
    border-top: 3px solid #000000;;
}

.about__me {
    padding: 0px;
    margin: 0px;
}

.header .header-wr .master-content .about__me {
    max-width: 773px;
}

.footer__text {
    max-width: 800px;
}

.btn__portfolio {
    margin-top: 67px;
    padding: 17px 83px;
    color: #fff;
    background: #000000;
    border-radius: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.btn__write {
    margin: 0;
    margin-left: 42px;
    margin-top: 67px;
    padding: 17px 83px;
    color: rgb(0, 0, 0);
    border: 3px solid #000000;
    border-radius: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.buttons_soc {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 82px;
}

.main__img {
    max-height: 600px;
}

.btn__soc {
    border: 3px solid #000000;
    padding: 20px;
    border-radius: 14px;
    margin: 14px 0 14px 0;
}

.btn_footer{
    margin-right: 24px;
}

.btn__soc:hover {
    background-color: #FFD766;
    border: 3px solid #FFD766;
    padding: 20px;
    border-radius: 14px;
    margin: 14px 0 14px 0;
    -webkit-transition: all 0.3s ease;
}

.btn__portfolio:hover {
    color: #000000;
    background-color: #FFD766;
    border: none;
    -webkit-transition: all 0.3s ease;
}

.btn__write:hover {
    color:#fff;
    background-color: #000000;
    -webkit-transition: all 0.3s ease;
}

@media all and (max-width: 1600px) {
    span {
        font-size: 16px;
    }

    .main__img {
        max-height: 500px;
    }

    .buttons_soc {
        display: none;
    }
}

@media all and (max-width: 992px) {
    .main__content {
        padding: 0px;
        margin: 0;
    }

    .img__1 {
        max-width: 26vmax;
        border-radius: 10px;
    }
}

@media all and (max-width: 1400px) {
    span {
        font-size: 16px;
    }

    .main__img {
        max-height: 500px;
    }
    
    #img__grid {
        margin-bottom: 42px;
    }

    h1 {
        font-size: 62px;
        line-height: 70px;
    }

    .buttons_soc {
        display: none;
    }
}

@media all and (max-width: 425px) {
    body {
        padding: 0px;
        margin: 0px;
        padding: 0 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        margin: 45px 0;
    }

    .main__content {
        padding: 0px;
        margin: 0;
    }
    
    .btn__portfolio {
        display: block;
        text-align: center;
    }

    .main__img {
        display: none;
    }

    .img__1 {
        max-width: 100%;
        border-radius: 10px;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .logo {
        text-align: center;
    }

    .btn_footer {
        margin-right: 0;
    }

    .buttons_footer {
        display: flex;
        justify-content:space-between;
        margin-right: 0;
    }

    #img__grid {
        margin-bottom: 42px;
    }
}